/.vim/bundle/
*.sw?
/tags
/.gitconfig.local
*.pyc
.DS_Store
/.wercker
/.github-commit-status/
# http://qiita.com/uasi/items/cedae627b7596a837c57
,*
/.vim/.netrwhist
/.vagrant
/.env
/.venv
.vscode
/.tmux/plugins
/yarn-error.log
/.vstags
